{{#if addNewQuestion}}
  <h2>enter a new question here!</h2><br><br>
    <div>
      <form>
        <div class="form-group">
          <label for="user">who are you?</label>
          {{input value=user id="user"}}
        </div>

        <div class="form-group">
          <label for="ask">what do you want to know?</label>
          {{input value=ask id="ask"}}
        </div>

        <div class="form-group">
          <label for="notes">any additional info?</label>
          {{input value=notes id="notes"}}
        </div>

        <button {{action 'save'}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'questionFormShow'}}>another question?</button>
{{/if}}
