<h2>posted by: {{question.user}}
<br><br>
  ‣   {{question.ask}}</h2>


{{question.notes}}
<br>
<br>
<button {{action 'delete' question}}>delete</button>

<br><br>
{{question-update question=question update="update"}}
